/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
/* line 6, ../scss/config/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 26, ../scss/config/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
/* line 31, ../scss/config/_reset.scss */
*[hidden] {
  display: none;
}

/* line 34, ../scss/config/_reset.scss */
body {
  line-height: 1.5;
}

/* line 37, ../scss/config/_reset.scss */
menu, ol, ul {
  list-style: none;
}

/* line 40, ../scss/config/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 43, ../scss/config/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 48, ../scss/config/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 53, ../scss/config/_reset.scss */
hr {
  border-top: 1px solid #f2f2f2;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url("./../fonts/BebasNeue/BebasNeue-Regular.woff2") format("woff2"), url("./../fonts/BebasNeue/BebasNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url("./../fonts/Inter/Inter-Bold.woff2") format("woff2"), url("./../fonts/Inter/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url("./../fonts/Inter/Inter-Black.woff2") format("woff2"), url("./../fonts/Inter/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url("./../fonts/Inter/Inter-Regular.woff2") format("woff2"), url("./../fonts/Inter/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* line 2, ../scss/base/_body.scss */
*,
*:before, *:after {
  box-sizing: border-box;
}

/* line 6, ../scss/base/_body.scss */
html {
  font-size: 62.5%;
  height: 100%;
}

/* line 11, ../scss/base/_body.scss */
body {
  font-family: "Bebas Neue", cursive;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  height: 100%;
}

/* line 21, ../scss/base/_body.scss */
p {
  margin-bottom: 1.6rem;
}

/* line 25, ../scss/base/_body.scss */
.main-container {
  min-height: 100vh;
}

/* line 1, ../scss/base/_links.scss */
a, button {
  color: #1A2741;
  text-decoration: none;
  outline: 0;
}
/* line 7, ../scss/base/_links.scss */
a.button:hover, button.button:hover {
  text-decoration: none;
}
/* line 12, ../scss/base/_links.scss */
a:hover, a:focus, button:hover, button:focus {
  color: #1A2741;
}
@media (max-width: 539px) {
  /* line 12, ../scss/base/_links.scss */
  a:hover, a:focus, button:hover, button:focus {
    text-decoration: none;
  }
}
/* line 18, ../scss/base/_links.scss */
a.underline-link, button.underline-link {
  color: #0074FC;
  cursor: pointer;
  font-family: "Bebas Neue", cursive;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: underline;
}
/* line 26, ../scss/base/_links.scss */
a.text-link, button.text-link {
  font-family: "Bebas Neue", cursive;
  font-size: 1.6rem;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  line-height: 1;
  outline: none;
  background-color: transparent;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  padding: 0;
  cursor: pointer;
}
/* line 40, ../scss/base/_links.scss */
a.text-link.text-primary-base, button.text-link.text-primary-base {
  color: #1A2741;
}
/* line 42, ../scss/base/_links.scss */
a.text-link.text-primary-base:hover, button.text-link.text-primary-base:hover {
  color: #1A2741;
}
/* line 46, ../scss/base/_links.scss */
a.text-link.text-secondary-base, button.text-link.text-secondary-base {
  color: #0D2240;
}
/* line 48, ../scss/base/_links.scss */
a.text-link.text-secondary-base:hover, button.text-link.text-secondary-base:hover {
  color: #FFC627;
}
/* line 52, ../scss/base/_links.scss */
a.text-link.text-primary-base, button.text-link.text-primary-base {
  color: #002646;
  font-size: 2rem;
  text-decoration: underline;
  text-transform: none;
}
/* line 57, ../scss/base/_links.scss */
a.text-link.text-primary-base:hover, button.text-link.text-primary-base:hover {
  color: #001B3D;
}

@font-face {
  font-family: 'iconFont';
  src: url("./../fonts/iconFont/iconFont.eot?rab47v");
  src: url("./../fonts/iconFont/iconFont.eot?rab47v#iefix") format("embedded-opentype"), url("./../fonts/iconFont/iconFont.ttf?rab47v") format("truetype"), url("./../fonts/iconFont/iconFont.woff?rab47v") format("woff"), url("./../fonts/iconFont/iconFont.svg?rab47v#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/* line 13, ../scss/base/_icons.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconFont' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 27, ../scss/base/_icons.scss */
.icon-arrow-back:before {
  content: "\e900";
}

/* line 30, ../scss/base/_icons.scss */
.icon-arrow-next:before {
  content: "\e901";
}

/* line 1, ../scss/base/_grid.scss */
.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 720px) {
  /* line 1, ../scss/base/_grid.scss */
  .container {
    max-width: 860px;
  }
}
@media (min-width: 960px) {
  /* line 1, ../scss/base/_grid.scss */
  .container {
    max-width: 1140px;
  }
}

/* line 19, ../scss/base/_grid.scss */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
}
@media (max-width: 539px) {
  /* line 19, ../scss/base/_grid.scss */
  .grid {
    grid-gap: 0;
  }
}

/* line 29, ../scss/base/_grid.scss */
.grid-1 {
  grid-column: span 1;
}

/* line 29, ../scss/base/_grid.scss */
.grid-2 {
  grid-column: span 2;
}

/* line 29, ../scss/base/_grid.scss */
.grid-3 {
  grid-column: span 3;
}

/* line 29, ../scss/base/_grid.scss */
.grid-4 {
  grid-column: span 4;
}

/* line 29, ../scss/base/_grid.scss */
.grid-5 {
  grid-column: span 5;
}

/* line 29, ../scss/base/_grid.scss */
.grid-6 {
  grid-column: span 6;
}

/* line 29, ../scss/base/_grid.scss */
.grid-7 {
  grid-column: span 7;
}

/* line 29, ../scss/base/_grid.scss */
.grid-8 {
  grid-column: span 8;
}

/* line 29, ../scss/base/_grid.scss */
.grid-9 {
  grid-column: span 9;
}

/* line 29, ../scss/base/_grid.scss */
.grid-10 {
  grid-column: span 10;
}

/* line 29, ../scss/base/_grid.scss */
.grid-11 {
  grid-column: span 11;
}

/* line 29, ../scss/base/_grid.scss */
.grid-12 {
  grid-column: span 12;
}

@media (min-width: 540px) {
  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-1 {
    grid-column: span 1;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-2 {
    grid-column: span 2;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-3 {
    grid-column: span 3;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-4 {
    grid-column: span 4;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-5 {
    grid-column: span 5;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-6 {
    grid-column: span 6;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-7 {
    grid-column: span 7;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-8 {
    grid-column: span 8;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-9 {
    grid-column: span 9;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-10 {
    grid-column: span 10;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-11 {
    grid-column: span 11;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-12 {
    grid-column: span 12;
  }
}
@media (min-width: 720px) {
  /* line 44, ../scss/base/_grid.scss */
  .grid-md-1 {
    grid-column: span 1;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-2 {
    grid-column: span 2;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-3 {
    grid-column: span 3;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-4 {
    grid-column: span 4;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-5 {
    grid-column: span 5;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-6 {
    grid-column: span 6;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-7 {
    grid-column: span 7;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-8 {
    grid-column: span 8;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-9 {
    grid-column: span 9;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-10 {
    grid-column: span 10;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-11 {
    grid-column: span 11;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-12 {
    grid-column: span 12;
  }
}
@media (min-width: 960px) {
  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-1 {
    grid-column: span 1;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-2 {
    grid-column: span 2;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-3 {
    grid-column: span 3;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-4 {
    grid-column: span 4;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-5 {
    grid-column: span 5;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-6 {
    grid-column: span 6;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-7 {
    grid-column: span 7;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-8 {
    grid-column: span 8;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-9 {
    grid-column: span 9;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-10 {
    grid-column: span 10;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-11 {
    grid-column: span 11;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-12 {
    grid-column: span 12;
  }
}
@media (min-width: 1440px) {
  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-1 {
    grid-column: span 1;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-2 {
    grid-column: span 2;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-3 {
    grid-column: span 3;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-4 {
    grid-column: span 4;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-5 {
    grid-column: span 5;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-6 {
    grid-column: span 6;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-7 {
    grid-column: span 7;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-8 {
    grid-column: span 8;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-9 {
    grid-column: span 9;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-10 {
    grid-column: span 10;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-11 {
    grid-column: span 11;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-12 {
    grid-column: span 12;
  }
}
/* line 1, ../scss/base/_buttons.scss */
.btn {
  font-family: "Bebas Neue", cursive;
  font-size: 1.6rem;
  padding: 1.35rem 2.5rem;
  border: none;
  cursor: pointer;
  font-weight: 700;
  line-height: 1;
  outline: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  border-radius: 30px;
  width: 100%;
}
@media (min-width: 720px) {
  /* line 1, ../scss/base/_buttons.scss */
  .btn {
    width: auto;
  }
}
/* line 17, ../scss/base/_buttons.scss */
.btn.btn-primary {
  background: #FFC627;
  color: #ffffff;
  color: #1A2741;
}
/* line 68, ../scss/config/_mixins.scss */
.btn.btn-primary:hover {
  background: #ffbd03;
  transition: background 0.2s ease;
  text-decoration: none;
}
/* line 73, ../scss/config/_mixins.scss */
.btn.btn-primary:focus {
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(0, 27, 61, 0.25);
  text-decoration: none;
}
/* line 78, ../scss/config/_mixins.scss */
.btn.btn-primary:active {
  background: #f3b300;
}
/* line 81, ../scss/config/_mixins.scss */
.btn.btn-primary.disabled, .btn.btn-primary:disabled {
  opacity: 0.55;
  color: #666666;
  background: #ffffff;
  border: 1px solid #666666;
  box-shadow: none;
  cursor: auto;
}
/* line 89, ../scss/config/_mixins.scss */
.btn.btn-primary.disabled:hover, .btn.btn-primary:disabled:hover {
  background: #ffffff;
}
/* line 92, ../scss/config/_mixins.scss */
.btn.btn-primary.disabled:focus, .btn.btn-primary:disabled:focus {
  box-shadow: none;
}
/* line 20, ../scss/base/_buttons.scss */
.btn.btn-primary.outline {
  background: transparent;
  color: #002646;
  border: 0.13rem solid #002646;
}
/* line 68, ../scss/config/_mixins.scss */
.btn.btn-primary.outline:hover {
  background: transparent;
  transition: background 0.2s ease;
  text-decoration: none;
}
/* line 73, ../scss/config/_mixins.scss */
.btn.btn-primary.outline:focus {
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(0, 27, 61, 0.25);
  text-decoration: none;
}
/* line 78, ../scss/config/_mixins.scss */
.btn.btn-primary.outline:active {
  background: transparent;
}
/* line 81, ../scss/config/_mixins.scss */
.btn.btn-primary.outline.disabled, .btn.btn-primary.outline:disabled {
  opacity: 0.55;
  color: #666666;
  background: #ffffff;
  border: 1px solid #666666;
  box-shadow: none;
  cursor: auto;
}
/* line 89, ../scss/config/_mixins.scss */
.btn.btn-primary.outline.disabled:hover, .btn.btn-primary.outline:disabled:hover {
  background: #ffffff;
}
/* line 92, ../scss/config/_mixins.scss */
.btn.btn-primary.outline.disabled:focus, .btn.btn-primary.outline:disabled:focus {
  box-shadow: none;
}
/* line 23, ../scss/base/_buttons.scss */
.btn.btn-primary.outline:hover, .btn.btn-primary.outline:active {
  background: #002646;
  color: #ffffff;
}
/* line 68, ../scss/config/_mixins.scss */
.btn.btn-primary.outline:hover:hover, .btn.btn-primary.outline:active:hover {
  background: #001322;
  transition: background 0.2s ease;
  text-decoration: none;
}
/* line 73, ../scss/config/_mixins.scss */
.btn.btn-primary.outline:hover:focus, .btn.btn-primary.outline:active:focus {
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(0, 27, 61, 0.25);
  text-decoration: none;
}
/* line 78, ../scss/config/_mixins.scss */
.btn.btn-primary.outline:hover:active, .btn.btn-primary.outline:active:active {
  background: #000a13;
}
/* line 81, ../scss/config/_mixins.scss */
.btn.btn-primary.outline:hover.disabled, .btn.btn-primary.outline:hover:disabled, .btn.btn-primary.outline:active.disabled, .btn.btn-primary.outline:active:disabled {
  opacity: 0.55;
  color: #666666;
  background: #ffffff;
  border: 1px solid #666666;
  box-shadow: none;
  cursor: auto;
}
/* line 89, ../scss/config/_mixins.scss */
.btn.btn-primary.outline:hover.disabled:hover, .btn.btn-primary.outline:hover:disabled:hover, .btn.btn-primary.outline:active.disabled:hover, .btn.btn-primary.outline:active:disabled:hover {
  background: #ffffff;
}
/* line 92, ../scss/config/_mixins.scss */
.btn.btn-primary.outline:hover.disabled:focus, .btn.btn-primary.outline:hover:disabled:focus, .btn.btn-primary.outline:active.disabled:focus, .btn.btn-primary.outline:active:disabled:focus {
  box-shadow: none;
}
/* line 28, ../scss/base/_buttons.scss */
.btn.btn-secondary {
  background: #0D2240;
  color: #1b1b1b;
}
/* line 68, ../scss/config/_mixins.scss */
.btn.btn-secondary:hover {
  background: #071222;
  transition: background 0.2s ease;
  text-decoration: none;
}
/* line 73, ../scss/config/_mixins.scss */
.btn.btn-secondary:focus {
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(0, 27, 61, 0.25);
  text-decoration: none;
}
/* line 78, ../scss/config/_mixins.scss */
.btn.btn-secondary:active {
  background: #040b16;
}
/* line 81, ../scss/config/_mixins.scss */
.btn.btn-secondary.disabled, .btn.btn-secondary:disabled {
  opacity: 0.55;
  color: #666666;
  background: #ffffff;
  border: 1px solid #666666;
  box-shadow: none;
  cursor: auto;
}
/* line 89, ../scss/config/_mixins.scss */
.btn.btn-secondary.disabled:hover, .btn.btn-secondary:disabled:hover {
  background: #ffffff;
}
/* line 92, ../scss/config/_mixins.scss */
.btn.btn-secondary.disabled:focus, .btn.btn-secondary:disabled:focus {
  box-shadow: none;
}
/* line 30, ../scss/base/_buttons.scss */
.btn.btn-secondary.outline {
  background: transparent;
  color: #0D2240;
  border: 0.15rem solid #0D2240;
}
/* line 68, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline:hover {
  background: transparent;
  transition: background 0.2s ease;
  text-decoration: none;
}
/* line 73, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline:focus {
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(0, 27, 61, 0.25);
  text-decoration: none;
}
/* line 78, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline:active {
  background: transparent;
}
/* line 81, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline.disabled, .btn.btn-secondary.outline:disabled {
  opacity: 0.55;
  color: #666666;
  background: #ffffff;
  border: 1px solid #666666;
  box-shadow: none;
  cursor: auto;
}
/* line 89, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline.disabled:hover, .btn.btn-secondary.outline:disabled:hover {
  background: #ffffff;
}
/* line 92, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline.disabled:focus, .btn.btn-secondary.outline:disabled:focus {
  box-shadow: none;
}
/* line 33, ../scss/base/_buttons.scss */
.btn.btn-secondary.outline:hover, .btn.btn-secondary.outline:active {
  background: #0D2240;
  color: #ffffff;
}
/* line 68, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline:hover:hover, .btn.btn-secondary.outline:active:hover {
  background: #071222;
  transition: background 0.2s ease;
  text-decoration: none;
}
/* line 73, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline:hover:focus, .btn.btn-secondary.outline:active:focus {
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(0, 27, 61, 0.25);
  text-decoration: none;
}
/* line 78, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline:hover:active, .btn.btn-secondary.outline:active:active {
  background: #040b16;
}
/* line 81, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline:hover.disabled, .btn.btn-secondary.outline:hover:disabled, .btn.btn-secondary.outline:active.disabled, .btn.btn-secondary.outline:active:disabled {
  opacity: 0.55;
  color: #666666;
  background: #ffffff;
  border: 1px solid #666666;
  box-shadow: none;
  cursor: auto;
}
/* line 89, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline:hover.disabled:hover, .btn.btn-secondary.outline:hover:disabled:hover, .btn.btn-secondary.outline:active.disabled:hover, .btn.btn-secondary.outline:active:disabled:hover {
  background: #ffffff;
}
/* line 92, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline:hover.disabled:focus, .btn.btn-secondary.outline:hover:disabled:focus, .btn.btn-secondary.outline:active.disabled:focus, .btn.btn-secondary.outline:active:disabled:focus {
  box-shadow: none;
}
/* line 39, ../scss/base/_buttons.scss */
.btn.small {
  padding: 1.1rem 1.6rem;
  font-size: 1.35rem;
}
/* line 43, ../scss/base/_buttons.scss */
.btn.medium {
  font-size: 1.4rem;
  padding: 11px 38px;
}

/* line 1, ../scss/components/_slider.scss */
.slider1 {
  max-width: 414px;
  width: 100%;
}
/* line 4, ../scss/components/_slider.scss */
.slider1__content1 {
  color: #ffffff;
  font-size: 40px;
  position: absolute;
  text-align: center;
}
/* line 9, ../scss/components/_slider.scss */
.slider1__content1-cont {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin-left: 48px;
  margin-top: 43px;
  position: absolute;
}
/* line 18, ../scss/components/_slider.scss */
.slider1__content1-cont h1 {
  font-size: 45px;
  letter-spacing: 3.8px;
  margin-top: 10px;
}
/* line 24, ../scss/components/_slider.scss */
.slider1__content1 p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin-left: 448px;
  margin-top: 197px;
  width: 332px;
}
/* line 31, ../scss/components/_slider.scss */
.slider1__content1 .btn {
  background: #FFCA33;
  align-items: center;
  display: flex;
  height: 64px;
  justify-content: center;
  margin-left: 493px;
  margin-top: 55px;
  width: 251.71px;
}
/* line 40, ../scss/components/_slider.scss */
.slider1__content1 .btn__link {
  font-size: 20px;
}

/* line 47, ../scss/components/_slider.scss */
.slid-dots1 .slick-dots {
  bottom: 84px;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
/* line 57, ../scss/components/_slider.scss */
.slid-dots1 .slick-dots li.slick-active {
  border-radius: 100%;
  border-style: solid;
  border-width: 2px;
  color: #FFCA33;
}
/* line 65, ../scss/components/_slider.scss */
.slid-dots1 .slick-dots li button:before {
  color: #ffffff;
  font-size: 14px;
  left: -3px;
  top: -1px;
}
/* line 74, ../scss/components/_slider.scss */
.slid-dots1 .icon-arrow-back {
  display: none !important;
}
/* line 77, ../scss/components/_slider.scss */
.slid-dots1 .icon-arrow-next {
  display: none !important;
}

@media (min-width: 1440px) {
  /* line 83, ../scss/components/_slider.scss */
  body {
    max-width: 1440px;
    width: 100%;
  }

  /* line 87, ../scss/components/_slider.scss */
  .slider1 {
    max-width: 1440px;
    width: 100%;
    text-align: center;
  }
  /* line 91, ../scss/components/_slider.scss */
  .slider1__content1 {
    color: #ffffff;
    position: absolute;
  }
  /* line 94, ../scss/components/_slider.scss */
  .slider1__content1-cont {
    align-items: center;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    margin-left: 488px;
    margin-top: 201px;
  }
  /* line 101, ../scss/components/_slider.scss */
  .slider1__content1-cont .logo {
    margin-left: 20px;
  }
  /* line 104, ../scss/components/_slider.scss */
  .slider1__content1-cont h1 {
    font-size: 45px;
    letter-spacing: 4.5px;
  }
  /* line 109, ../scss/components/_slider.scss */
  .slider1__content1 p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    margin-left: 425px;
    margin-top: 305px;
    width: 580px;
  }
  /* line 116, ../scss/components/_slider.scss */
  .slider1__content1 .btn {
    align-items: center;
    display: flex;
    color: #FFCA33;
    height: 64px;
    justify-content: center;
    margin-left: 585px;
    margin-top: 93px;
    width: 255px;
  }
  /* line 125, ../scss/components/_slider.scss */
  .slider1__content1 .btn__link {
    font-size: 20px;
  }
  /* line 130, ../scss/components/_slider.scss */
  .slider1 .slid {
    height: 627px;
  }

  /* line 135, ../scss/components/_slider.scss */
  .slid-dots1 .slick-dots {
    bottom: 100px;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  /* line 145, ../scss/components/_slider.scss */
  .slid-dots1 .slick-dots li.slick-active {
    border-radius: 100%;
    border-style: solid;
    border-width: 2px;
    color: #FFCA33;
  }
  /* line 153, ../scss/components/_slider.scss */
  .slid-dots1 .slick-dots li button:before {
    color: #ffffff;
    font-size: 14px;
    left: -2px;
    top: -1px;
  }
  /* line 162, ../scss/components/_slider.scss */
  .slid-dots1 .icon-arrow-back {
    color: #FFCA33;
    display: block !important;
    font-size: 60px;
    left: 100px;
    position: absolute;
    top: 337px;
    z-index: 1;
  }
  /* line 172, ../scss/components/_slider.scss */
  .slid-dots1 .icon-arrow-next {
    color: #FFCA33;
    display: block !important;
    font-size: 60px;
    right: 137px;
    position: absolute;
    top: 337px;
    z-index: 1;
  }
}
/* line 183, ../scss/components/_slider.scss */
.slider2 {
  color: #0D2240;
  margin-left: 10px;
  max-width: 500px;
  width: 100%;
}
/* line 188, ../scss/components/_slider.scss */
.slider2 .text {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 193, ../scss/components/_slider.scss */
.slider2 .text h1 {
  font-size: 35px;
  margin-top: 50px;
  text-align: center;
}
/* line 198, ../scss/components/_slider.scss */
.slider2 .text h3 {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  margin-bottom: 40px;
  margin-top: 7px;
  text-align: center;
  width: 360px;
}
/* line 207, ../scss/components/_slider.scss */
.slider2__content {
  display: flex;
  flex-direction: column;
  height: 883px;
  width: 3px;
}
/* line 213, ../scss/components/_slider.scss */
.slider2__content-part1 img {
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
/* line 219, ../scss/components/_slider.scss */
.slider2__content-part2 {
  align-items: center;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 35px;
  width: 368px;
}
/* line 227, ../scss/components/_slider.scss */
.slider2__content-part2 .number {
  color: #FFC627;
  font-size: 54px;
  margin-left: 10px;
  margin-top: 18px;
}
/* line 233, ../scss/components/_slider.scss */
.slider2__content-part2 .step {
  font-size: 35px;
  line-height: 34px;
  margin-top: -10px;
  text-align: center;
  width: 250px;
}
/* line 241, ../scss/components/_slider.scss */
.slider2__content .counter {
  display: flex;
  flex-direction: column;
  font-size: 27px;
  left: -13px;
  position: relative;
  text-align: center;
  top: 88px;
}

/* line 253, ../scss/components/_slider.scss */
.slid-dots2 .slick-dots {
  align-items: center;
  bottom: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  position: absolute;
  text-align: center;
}
/* line 263, ../scss/components/_slider.scss */
.slid-dots2 .slick-dots li.slick-active {
  border-radius: 100%;
  border-style: solid;
  border-width: 2px;
  color: #FFC627;
}
/* line 269, ../scss/components/_slider.scss */
.slid-dots2 .slick-dots li button {
  margin: 20px;
}
/* line 271, ../scss/components/_slider.scss */
.slid-dots2 .slick-dots li button:before {
  color: #0D2240;
  font-size: 15px;
  left: -2px;
  top: -1px;
}
/* line 281, ../scss/components/_slider.scss */
.slid-dots2 .slick-arrow.slick-prev {
  color: #FFCA33;
  left: 122px;
  top: 845px;
  z-index: 1;
}
/* line 286, ../scss/components/_slider.scss */
.slid-dots2 .slick-arrow.slick-prev:before {
  content: "\e900";
  color: #FFC627;
  font-family: 'iconFont';
  font-size: 50px;
}
/* line 293, ../scss/components/_slider.scss */
.slid-dots2 .slick-arrow.slick-next {
  right: 180px;
  top: 845px;
}
/* line 296, ../scss/components/_slider.scss */
.slid-dots2 .slick-arrow.slick-next:before {
  content: "\e901";
  color: #FFC627;
  font-family: 'iconFont';
  font-size: 50px;
}

@media (min-width: 1440px) {
  /* line 306, ../scss/components/_slider.scss */
  .slider2 {
    color: #0D2240;
    margin-left: -5px;
    max-width: 1440px;
    width: 100%;
  }
  /* line 311, ../scss/components/_slider.scss */
  .slider2 .text {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1440px;
  }
  /* line 317, ../scss/components/_slider.scss */
  .slider2 .text h1 {
    font-size: 35px;
    font-weight: 600;
    margin-top: 39px;
    text-align: center;
  }
  /* line 323, ../scss/components/_slider.scss */
  .slider2 .text h3 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    margin-bottom: 62px;
    text-align: center;
    width: 461px;
  }
  /* line 331, ../scss/components/_slider.scss */
  .slider2 .slider2 {
    height: 467px;
    margin-right: 75px;
    margin-left: 75px;
  }
  /* line 335, ../scss/components/_slider.scss */
  .slider2 .slider2__content {
    display: flex;
    flex-direction: row;
    height: 467px;
    width: 1291px;
  }
  /* line 341, ../scss/components/_slider.scss */
  .slider2 .slider2__content-part1 img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 468px;
    object-fit: cover;
    width: 718px;
  }
  /* line 350, ../scss/components/_slider.scss */
  .slider2 .slider2__content-part2 {
    align-items: center;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 22px;
    margin-top: -5px;
    width: 463px;
  }
  /* line 359, ../scss/components/_slider.scss */
  .slider2 .slider2__content-part2 .number {
    font-weight: 600;
    color: #FFC627;
    font-size: 54px;
  }
  /* line 364, ../scss/components/_slider.scss */
  .slider2 .slider2__content-part2 .step {
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    width: 250px;
  }
  /* line 372, ../scss/components/_slider.scss */
  .slider2 .slider2__content .counter {
    display: flex;
    flex-direction: row;
    font-size: 27px;
    margin-right: 54px;
    position: relative;
    text-align: center;
    top: 382px;
  }

  /* line 385, ../scss/components/_slider.scss */
  .slid-dots2 .slick-dots {
    align-items: flex-end;
    bottom: 245px;
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    right: 170px;
    text-align: center;
  }
  /* line 395, ../scss/components/_slider.scss */
  .slid-dots2 .slick-dots li.slick-active {
    border-radius: 100%;
    border-style: solid;
    border-width: 2px;
    color: #FFC627;
  }
  /* line 401, ../scss/components/_slider.scss */
  .slid-dots2 .slick-dots li button {
    margin: 20px;
  }
  /* line 403, ../scss/components/_slider.scss */
  .slid-dots2 .slick-dots li button:before {
    color: #0D2240;
    font-size: 15px;
    left: -2px;
    top: -1px;
  }
  /* line 413, ../scss/components/_slider.scss */
  .slid-dots2 .slick-arrow.slick-prev {
    color: #FFCA33;
    left: 1125px;
    top: 387px;
    z-index: 1;
  }
  /* line 418, ../scss/components/_slider.scss */
  .slid-dots2 .slick-arrow.slick-prev:before {
    content: "\e900";
    color: #FFC627;
    font-family: 'iconFont';
    font-size: 50px;
  }
  /* line 425, ../scss/components/_slider.scss */
  .slid-dots2 .slick-arrow.slick-next {
    right: 190px;
    top: 387px;
  }
  /* line 428, ../scss/components/_slider.scss */
  .slid-dots2 .slick-arrow.slick-next:before {
    content: "\e901";
    color: #FFC627;
    font-family: 'iconFont';
    font-size: 50px;
  }
}
