.slider2{
    width: 1440px;

    h1{
        font-family: $font-primary;
    }

    p{
        font-family: $font-secundary;
    }
    button{
        color:color(secondary,dark);
    }
    .btn{
        &btn-primary{
            color:color(secondary,dark);
        }
    }
}