body{
    width: 1433px;
}
.slider1{
    text-align: center;
    &__content1{
        color: color(grayscale,white);
        position: absolute;
        &-cont{
            align-items: center;
            color: color(grayscale,white);
            display: flex;
            flex-direction: row;
            margin-left: 488px;
            margin-top: 214px;
            .logo{
                margin-left: 20px;
            }
            h1{
                font-size: 45px;
                letter-spacing: 4.5px;
            }
        }
        p{
            font-family: $font-secundary;
            font-size: 16px;
            margin-left: 425px;
            margin-top: 24px;
            width: 580px;
        }
        .btn{
            height: 64px;
            margin-left: 425px;
            margin-top: 75px;
            width: 255px;
            &-primary{
                font-size: 20px;
            }
        }
    }
}
.slid-dots1{
    .slick-dots {
        bottom: 100px;
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        text-align: center;
        width: 100%;
        li{
            &.slick-active{
                border-radius: 100%;
                border-style: solid;
                border-width: 2px;
                color: color(complementary,two);

            }
            button{
                &:before{
                    color:color(grayscale,white);
                    font-size: 14px;
                    left: -2px;
                    top: -1px;
                }
            }
        }
    }
    .slick-arrow{
        &.slick-prev{
            left: 97px;
            top: 345px;
            z-index: 1;
            &:before{
                color: color(secondary,dark);
                font-size: 70px;
            }
            }
        &.slick-next{
            left: 1235px;
            top: 345px;
            &:before{
                color: color(secondary,dark);
                font-size: 70px;
            }
        }
    }
}

.slide2{
    color: color(secondary,base);
    h1{
        font-size: 35px;
        margin-top: 50px;
        text-align: center;
    }
    h3{
        font-family: $font-secundary;
        font-size: 16px;
        margin-bottom: 40px;
        text-align: center;
    }
    .slider2{
        height: 467px;
        margin-right: 75px;
        margin-left: 75px;
        &__content{
            display: flex;
            flex-direction: row;
            height: 467px;
            width: 1291px;
            &-part1{
                img{
                    border-top-left-radius:20px ;
                    border-bottom-left-radius: 20px;
                }
            }
            &-part2{
                align-items: center;
                background: color(grayscale,white);
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 549px;
                .number{
                    color: color(secondary,dark);
                    font-size: 54px;
                }
                .step{
                    font-size: 35px;
                    line-height: 40px;
                    text-align: center;
                    width: 250px;
                }
            }
            .counter{
                display: flex;
                flex-direction: row;
                font-size: 25px;
                position: relative;
                right: 100px;
                text-align: center;
                top: 400px;
            }
        }
    }
}
.slid-dots2{
    .slick-dots {
        align-items: flex-end;
        bottom: 200px;
        display: flex;
        flex-direction:column;
        list-style: none;
        position: absolute;
        right: 30px;
        text-align: center;
        li{
            &.slick-active{
                border-radius: 100%;
                border-style: solid;
                border-width: 2px;
                color: color(secondary,dark);
            }
            button{
                margin: 20px;
                &:before{
                    color:color(secondary,base);
                    font-size: 15px;
                    left: -2px;
                    top: -1px;
                }
            }
        }
    }
    .slick-arrow{
        &.slick-prev{
            left:1080px;
            top: 410px;
            z-index: 1;
            &:before{
                color: color(secondary,dark);
                font-size: 50px;
            }
            }
        &.slick-next{
            left: 1200px;
            top: 410px;
            &:before{
                color: color(secondary,dark);
                font-size: 50px;
            }
        }
    }
}